[submodule "micronucleus"]
	path = submodules/micronucleus
	url = https://github.com/micronucleus/micronucleus
[submodule "AVR_Stick"]
	path = submodules/AVR_Stick
	url = https://github.com/sparkfun/AVR_Stick
